<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Fido2" version="1.0.0-preview3" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.JsonWebTokens" version="5.2.4" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.Logging" version="5.2.4" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.Tokens" version="5.2.4" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net472" />
  <package id="PeterO.Numbers" version="1.1.2" targetFramework="net472" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net472" />
  <package id="System.IdentityModel.Tokens.Jwt" version="5.2.4" targetFramework="net472" />
  <package id="System.Memory" version="4.5.1" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Cng" version="4.5.0" targetFramework="net472" />
</packages>